footer {
    width: 100%;
    height: 40px;
    padding: .5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #002147;
    color: white;
}

footer p {
    padding: 0;
    margin: 0;
}
